<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring_study.mybatis.mapper.OrderMapper">
    <insert id="insertOrder" parameterType="spring_study.mybatis.entity.Order" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO ORDERS (user_id, status) VALUES (#{userId}, #{status});
    </insert>
</mapper>