<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring_study.mybatis.mapper.OrderItemsMapper">
    <insert id="insertOrderItems" parameterType="spring_study.mybatis.entity.OrderItems" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ORDER_TIMES (product_id, order_id, quantity) values (#{productId}, #{orderId}, #{quantity});
    </insert>
</mapper>