<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring_study.mybatis.mapper.ProductMapper">
    <insert id="insertProduct" useGeneratedKeys="true" parameterType="spring_study.mybatis.dto.Product" keyProperty="id">
        INSERT INTO PRODUCTS (name, price, stock) VALUES (#{name}, #{price}, #{stock});
    </insert>

    <select id="selectAll" resultType="spring_study.mybatis.dto.Product">
        SELECT * FROM PRODUCTS;
    </select>

    <select id="selectById" resultType="spring_study.mybatis.dto.Product">
        SELECT * FROM PRODUCTS WHERE id = #{id};
    </select>

    <update id="updateProductPriceById" keyProperty="id">
        UPDATE PRODUCTS
        SET price = #{price}
        WHERE id = #{id};
    </update>

    <update id="updateProductPriceByName">
        UPDATE PRODUCTS
        SET price = #{price}
        WHERE name = #{name};
    </update>

    <update id="updateProductStockById">
        UPDATE PRODUCTS
        set stock = stock - #{quantity}
        WHERE id = #{id} AND stock >= #{quantity};
    </update>

    <delete id="deleteProductByStock">
        DELETE FROM PRODUCTS WHERE stock = #{stock};
    </delete>
</mapper>