<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring_study.mybatis.mapper.UserMapper">

    <select id="findAllUsers" resultType="spring_study.mybatis.entity.User">
        SELECT id, user_name, age, email
        FROM USERS
    </select>

    <select id="findUserById" resultType="spring_study.mybatis.entity.User">
        SELECT * FROM USERS WHERE id = #{id};
    </select>

    <insert id="insertUser" parameterType="spring_study.mybatis.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USERS (user_name, age, email) VALUES (#{userName}, #{age}, #{email})
    </insert>

</mapper>